@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');

body {
    font-family: 'Prompt', sans-serif;
    background-color: #f3f4f6;
}

/* Custom scrollbar for textareas */
textarea::-webkit-scrollbar {
    width: 8px;
}
textarea::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}
